@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

$Poppins : 'Poppins', sans-serif;

// colors
$dark:rgb(34,71,34);
$light:rgb(242,230,195);
$primary:rgb(196,222,169);
$background:rgb(231,237,222);


// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header heigth
$headerHeight: 100px;

@mixin breakpoint($point){
    @if $point == md {
        @media (min-width : 48em){
            @content;
        }
    }
}