@import "./../styles/variables.scss";

.container {
    height: calc(100vh - #{$headerHeight});
    background: $background;
    padding-top: 20px;
    
    h1 {
        font-size: rem;
        padding: 1rem 2.5rem;
        background: $primary;
        border-radius: $borderRadius calc(#{$borderRadius} *2);
    }
}